.personaje
{   
    background-color: var(--DarkGrey);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width: 400px;
    height: fit-content;
    border-radius: 10px;  
    margin: 30px;
    padding: 20px 10px 20px 10px;
    text-align: center;
}

@media screen and (min-width: 1440px)
{
  .personaje
  {
      width: 500px;  
      height: fit-content;
  }
}