.episodio
{
    padding: 0;
    margin-bottom:30px ;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 40%;
    text-align: center;
}
.scroll
{
    width: 360px;
    overflow-x: auto;
    display:flex;
    flex-wrap: nowrap;
    padding: 0 0 0 10px;
    margin-bottom: 30px;
 
}
.episodioText
{
    background-color: var(--OffBlack);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    flex-shrink: 0;
}
.episodioText p
{
    font-size: 15px;
}
@media screen and (min-width: 1440px)
{
  .scroll
  {
    width: 450px;
  }
}