:root
{
        --White: hsl(0, 0%, 100%);
        --Grey: hsl(0, 0%, 20%);
        --DarkGrey: hsl(0, 0%, 12%);
        --OffBlack: hsl(0, 0%, 8%);
        --Green: hsl(75, 94%, 57%);
}

#root
{
    margin: auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#root button
{
    width: 200px;
}

@media screen and (min-width: 1440px)
{
    #root
    {
        margin: auto;
        width: 80vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
body
{
    background-color: var(--OffBlack);
    margin: 0 auto;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;

}
h3
{
    
    font-weight: 500;
    font-size: 15px;
    color: var(--Green);
}
h2
{
    
    font-weight: 900;
    font-size: 40px;
    color: var(--Green);
    margin: 0;
}
p
{
    font-size: 10px;
    color: var(--White);
}

button
{
    background-color: var(--Grey);
    border: none;
    width: 85%;
    border-radius: 7px;
    color: var(--White);  
    padding: 13px 0px 13px 0px;
    font-weight: 700;
}
button:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
    cursor: pointer;
}